In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as stats

In [46]:
case_county = pd.read_excel("data/Cases and Deaths by County 2024-01-23.xlsx")
case_county_date = pd.read_excel("data/Cases and Deaths by County and by Date of Symptom Onset or by Date of Death2024-01-23.xlsx")
case_demographics_state = pd.read_excel("data/Cases by Demographics Statewide 2024-01-23.xlsx")

In [47]:
case_county['Updated'] = pd.to_datetime(case_county['Updated'])
case_county['Updated'] = case_county['Updated'].dt.date
case_county.head()

    COUNTY CASE_STATUS  Cases  Deaths     Updated
0   Alcona   Confirmed   1625      72  2024-01-23
1   Alcona    Probable    492      11  2024-01-23
2    Alger   Confirmed   1331      10  2024-01-23
3    Alger    Probable    935      13  2024-01-23
4  Allegan   Confirmed  28206     336  2024-01-23

In [48]:
case_county_date['Updated'] = pd.to_datetime(case_county_date['Updated'])
case_county_date['Updated'] = case_county_date['Updated'].dt.date
case_county_date.head()

,COUNTY,Date,CASE_STATUS,Cases,Deaths,Cases.Cumulative,Deaths.Cumulative,Updated
0,Alcona,2020-03-01,Confirmed,0,0,0,0,2024-01-23
1,Alcona,2020-03-02,Confirmed,0,0,0,0,2024-01-23
2,Alcona,2020-03-03,Confirmed,0,0,0,0,2024-01-23
3,Alcona,2020-03-04,Confirmed,0,0,0,0,2024-01-23
4,Alcona,2020-03-05,Confirmed,0,0,0,0,2024-01-23

In [49]:
case_demographics_state["Cases"] = pd.to_numeric(case_demographics_state["Cases"], errors='coerce')
case_demographics_state.head()

,CASE_STATUS,AgeCat,RaceCat,SEX,Cases,Deaths
0,Confirmed,0-9 years,American Indian/Alaska Native,Female,666.0,0
1,Probable,0-9 years,American Indian/Alaska Native,Female,264.0,0
2,Confirmed,10-19 years,American Indian/Alaska Native,Female,1110.0,0
3,Probable,10-19 years,American Indian/Alaska Native,Female,516.0,0
4,Confirmed,20-29 years,American Indian/Alaska Native,Female,1702.0,0

In [57]:
race = case_demographics_state["RaceCat"].value_counts().index.values
print(race)
print(len(race))
# age = case_demographics_state["AgeCat"].value_counts().index.values
# print(age)
# print(len(age))

['American Indian/Alaska Native' 'Asian/Pacific Islander'
 'Black/African American' 'Multiple Races' 'Other' 'Unknown' 'White']
7

In [58]:
def calculate_prop(df, column):
    total_cases = df["Cases"].sum()
    prop_list = []
    for category in df[column].unique():
        category_cases = df[df[column] == category]["Cases"].sum()
        proportion = round(category_cases / total_cases, 3)  # Rounding to the third decimal place
        prop_list.append(proportion)
    return prop_list

# p_age = calculate_prop(case_demographics_state, 'AgeCat')
p_race = calculate_prop(case_demographics_state, 'RaceCat')
print(p_race)

[0.006, 0.02, 0.12, 0.016, 0.053, 0.22, 0.565]

In [59]:
# Asian / Pacific Islander
# Black / African American
# Multiple Races
# Other (combines)
# White
p_race = [0.02, 0.12, 0.016, 0.053+0.22+0.006, 0.565]

In [55]:
pop_mi = case_demographics_state["Cases"].sum()